# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment files
.env

# Django
db.sqlite3
staticfiles/

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
